:root {
  --button-font: 1rem;
  --button-height: 50px;
  --button-padding: 0.2rem;
  --button-margin: 0.2rem;
}

/* answer select button */
.btnQuestion {
  font-size: var(--button-font);
  height: var(--button-height);
  padding: var(--button-padding);
  margin: var(--button-margin);
  width: 90%;
  /* letter-spacing: 2px; */
  text-transform: uppercase;
  /* display: inline-block; */
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  border: 3px solid var(--color-primary);
  background-color: white;
  color: var(--color-primary);
}
/* btn with correct answer */
.btnQuestionCorrect {
  font-size: var(--button-font);
  height: var(--button-height);
  padding: var(--button-padding);
  margin: var(--button-margin);

  width: 90%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid chartreuse;
  background-color: chartreuse;
  border-radius: 20px;
  position: relative;
  color: white;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

/* btn with wrong answer */
.btnQuestionWrong {
  font-size: var(--button-font);
  height: var(--button-height);
  padding: var(--button-padding);
  margin: var(--button-margin);
  width: 90%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid crimson;
  background-color: crimson;
  border-radius: 20px;
  position: relative;
  color: white;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

/* btn disabled */
.btnQuestionDisabled {
  font-size: var(--button-font);
  height: var(--button-height);
  padding: var(--button-padding);
  margin: var(--button-margin);
  width: 90%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid rgb(147, 147, 147);
  background-color: rgb(222, 222, 222);
  border-radius: 20px;
  position: relative;
  color: rgb(177, 177, 177);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

/* play again button */
.playAgain-btn {
  width: 200px;
  padding-top: 3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.divPlayAgain {
  margin-top: 2rem;
  width: 90%;
}

/* start game button */
.divStartGame {
  transition: all 0.3s;
  z-index: 4;
}

#svgStartGame {
  color: var(--continent-color);
  width: 44px;
  height: 44px;
}

.btnStartGame {
  background: var(--color-primary);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "Poppins";
  padding: 0.35em;
  width: 110%;
  padding-left: 1.2em;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.btnStartGame .icon {
  background: rgb(255, 255, 255);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 3.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.btnStartGame:hover .icon {
  width: calc(100% - 0.6em);
}

/* reset game button */
.btnResetGame {
  background: none;
  position: absolute;
  top: 1rem;
  right: -1rem;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.btnResetGame:hover {
  transform: rotate(180deg);
  transition: 0.5s ease all;
}

#svgResetGame {
  width: 30px;
  height: 30px;
}

/* phones in landscape mode */
@media screen and (orientation: landscape) and (width < 845px) {
  .divStartGame {
    position: absolute;
    bottom: 3rem;
  }

  /* reset game button */
  .btnResetGame {
    top: 0.5rem;
    left: -2rem;
    width: 30px;
    height: 30px;
  }

  #svgResetGame {
    width: 20px;
    height: 20px;
  }

  .divPlayAgain {
    position: absolute;
    width: 250px;
    right: 80px;
    top: 30%;
  }
}
/* PC  */
@media screen and (width >= 845px) {
  :root {
    --button-font: 1.2rem;
    --button-height: 80px;
    --button-padding: 0.5rem;
    --button-margin: 0.5rem;
  }

  .btnQuestion:hover {
    background-color: var(--color-primary);
    color: white;
  }

  .btnQuestion:active {
    transform: scale(0.9);
  }

  .divPlayAgain {
    position: relative;
    width: 200px;
    align-self: center;
  }

}