:root {
  --button-font: 1rem;
  --button-height: 50px;
  --button-padding: 0.2rem;
  --button-margin: 0.2rem;

  --correct-answer-color: rgb(57, 197, 95);
  --wrong-answer-color: rgb(202, 3, 3);
}

/* answer select button */
.btnQuestion {
  font-size: var(--button-font);
  height: var(--button-height);
  padding: var(--button-padding);
  margin: var(--button-margin);
  width: 90%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
  background-color: white;
}

.btnQuestion:active {
  transform: scale(0.9);
}

/* btn with correct answer */
.btnQuestionCorrect {
  font-size: var(--button-font);
  height: var(--button-height);
  padding: var(--button-padding);
  margin: var(--button-margin);

  width: 90%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid var(--correct-answer-color);
  background-color: var(--correct-answer-color);
  border-radius: 20px;
  position: relative;
  color: white;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

/* btn with wrong answer */
.btnQuestionWrong {
  font-size: var(--button-font);
  height: var(--button-height);
  padding: var(--button-padding);
  margin: var(--button-margin);
  width: 90%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid var(--wrong-answer-color);
  background-color: var(--wrong-answer-color);
  border-radius: 20px;
  position: relative;
  color: white;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

/* btn disabled */
.btnQuestionDisabled {
  font-size: var(--button-font);
  height: var(--button-height);
  padding: var(--button-padding);
  margin: var(--button-margin);
  width: 90%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid rgb(173, 173, 173);
  background-color: rgb(225, 221, 221);
  color: rgb(173, 173, 173);
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

/* play again button */
.divPlayAgain {
  margin-top: 2rem;
}

/* start game button */
.divStartGame {
  position: absolute;
  transition: all 0.3s;
  z-index: 4;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
}

#svgStartGame {
  color: var(--color-primary);
  width: 20px;
  height: 20px;
}

.btnStartGame {
  background: rgb(250, 246, 120);
  color: var(--color-primary);
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 700;
  padding: 0.35em;
  width: 210px;
  padding-left: 300px;
  padding-left: 1.2em;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.btnStartGame .icon {
  background: rgb(255, 255, 255);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 3.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.btnStartGame:hover .icon {
  width: calc(100% - 0.6em);
}

/* reset game button */
.btnResetGame {
  background: none;
  position: absolute;
  top: 0.5rem;
  right: -0.5rem;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.btnResetGame:hover {
  transform: rotate(180deg);
  transition: 0.5s ease all;
}

#svgResetGame {
  width: 30px;
  height: 30px;
}

/* phones in landscape mode */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .divStartGame {
    top: 19rem;
  }

  /* reset game button */
  .btnResetGame {
    top: 0.5rem;
    left: -1.5rem;
    width: 30px;
    height: 30px;
  }

  #svgResetGame {
    width: 20px;
    height: 20px;
  }
}

/* PC  */
@media screen and (width >= 845px) {
  :root {
    --button-font: 1.2rem;
    --button-height: 80px;
    --button-padding: 0.5rem;
    --button-margin: 0.5rem;
  }
  .btnQuestion:hover {
    background-color: var(--loader-color4);
    color: white;
  }

  .divStartGame {
    top: 45rem;
  }

  .btnStartGame {
    padding: 0.5em;
    width: 350px;
    font-size: 2rem;
  }

  #svgStartGame {
    width: 65px;
    height: 65px;
  }
}
