/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background-color: rgb(198, 255, 255);
  --continent-color: #4b8af7;

  --color-primary: #4b8af7;
  --card-color: #d0d0d0;
  --card-height: 800px;

  --loader-color1: #0045bc;
  --loader-color2: #153d83;
  --loader-color3: #18305a;
  --loader-color4: #132035;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--background-color);
  font-family: "Poppins";
}

h1 {
  font-size: 1rem;
  color: rgb(16, 73, 159);
  margin-top: 1rem;
}

h5 {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0;
}

.map-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.world-map {
  z-index: 3;
  transform: scale(0.4);
}

.selected {
  stroke: rgb(3, 9, 74);
  stroke-width: 50px;
}

.Africa,
.Asia,
.Oceania,
.Europe,
.America {
  fill: var(--continent-color);
}

.game-container {
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* .display-flex {
  display: flex;
} */

.hidden {
  opacity: 0;
  display: none !important;
}

.loader-container {
  margin: 1rem 0;
  display: grid;
  place-items: center;
  justify-content: center;
}
.loader-wrapper {
  width: 100px;
  height: 100px;
}
.loader {
  width: 100%;
  height: 100%;
  border: 5px solid var(--background-color);
  border-top-color: var(--loader-color1);
  border-right-color: var(--loader-color2);
  border-bottom-color: var(--loader-color3);
  border-left-color: var(--loader-color4);

  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
.loader--inner {
  border-top-color: var(--loader-color1);
  border-right-color: var(--loader-color2);
  border-bottom-color: var(--loader-color3);
  border-left-color: var(--loader-color4);
  animation-duration: 2.5s;
}
@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

/* phones in landscape mode */
@media screen and (orientation: landscape) and (width < 845px) {

  .map-container {
    height: 90vh;
  }

  .world-map {
    transform: scale(0.6);
  }

  h1 {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* PC  */
@media screen and (width > 845px){
  .world-map {
    transform: scale(1);
  }

  h1 {
    position: relative;
    font-size: 2rem;
  }
}