/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background-color: #b8e5fa;
  --color-primary: rgb(7, 13, 185);

  --loader-color1: rgb(34, 37, 133);
  --loader-color2: rgb(53, 57, 188);
  --loader-color3: rgb(7, 13, 185);
  --loader-color4: rgb(7, 11, 112);

  --asia-color: #55c7f1;
  --africa-color: #4cb998;
  --europe-color: #d9a08a;
  --america-color: #786eb4;
  --oceania-color: #9c6c85;

  --asia-color-selected: #2cbdf1;
  --africa-color-selected: #18b888;
  --europe-color-selected: #db8664;
  --america-color-selected: #6858c1;
  --oceania-color-selected: #9f4875;

  --stroke-continet: rgb(3, 5, 63);
  --stroke-width-continet: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--background-color);
  font-family: "Poppins";
}

.header {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 0.6rem;
  color: var(--color-primary);
}

h5 {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0;
}

.map-container {
  position: relative;
  width: 90%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.world-map {
  position: absolute;
  z-index: 3;
  top: -3rem;
  transform: scale(0.4);
}

.Africa {
  fill: var(--africa-color);
}
.Asia {
  fill: var(--asia-color);
}
.Oceania {
  fill: var(--oceania-color);
}
.America {
  fill: var(--america-color);
}
.Europe {
  fill: var(--europe-color);
}

.Africa-selected {
  fill: var(--africa-color-selected);
  stroke: var( --stroke-continet);
  stroke-width: var(--stroke-width-continet);

}
.Asia-selected {
  fill: var(--asia-color-selected);
  stroke: var( --stroke-continet);
  stroke-width: var(--stroke-width-continet);

}
.Europe-selected {
  fill: var(--europe-color-selected);
  stroke: var( --stroke-continet);
  stroke-width: var(--stroke-width-continet);

}
.America-selected {
  fill: var(--america-color-selected);
  stroke: var( --stroke-continet);
  stroke-width: var(--stroke-width-continet);

}
.Oceania-selected {
  fill: var(--oceania-color-selected);
  stroke: var( --stroke-continet);
  stroke-width: var(--stroke-width-continet);

}

.game-container {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hidden {
  opacity: 0;
  display: none !important;
}

.loader-container {
  display: grid;
  place-items: center;
  justify-content: center;

}
.loader-wrapper {
  width: 200px;
  height: 200px;
}
.loader {
  width: 100%;
  height: 100%;
  border: 7px solid var(--background-color);
  border-top-color: var(--loader-color1);
  border-right-color: var(--loader-color2);
  border-bottom-color: var(--loader-color3);
  border-left-color: var(--loader-color4);
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
.loader--inner {
  animation-duration: 2.5s;
}
@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.error {
  text-align: center;
  padding: 1rem;
  color: rgb(202, 3, 3);
  font-weight: 700;
  font-size: 1.2em;
  width: 100%;
}

/* phones in landscape mode */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape){
  .world-map {
    top: -1rem;
    transform: scale(0.7);
  }
  .header {
    top: 1rem;
  }

  h1 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1rem;
  }
}

/* PC  */
@media screen and (width > 845px) {
  .header {
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  h1 {
    font-size: 2rem;
  }

  .world-map {
    top: 14rem;
    transform: scale(1.6);
  }
}
