/* dla ekranów smartphonów w trybie pionowym */
@media screen and (orientation: portrait) {
  .world-map {
    transform: scale(0.4);
    position: absolute;
    top: 50px;
  }

  h1 {
    font-size: 1rem;
    margin-top: 6rem;
  }

  .game-container {
    margin-top: 0;
  }

  .play-btn-div {
    position: absolute;
    top: 24rem;
  }

  .btnResetGame {
    position: absolute;
    top: 30px;
    right: 25px;
  }

  #svg-resetGame {
    width: 20px;
    height: 20px;
  }


  .scoreTable {
    font-size: 1.2rem;
    padding: 2rem;
  }

  .questionText {
    /* margin-bottom: 0; */
    font-size: 1rem;
  }

  img {
    max-width: 180px;
  }

  .btnQuestion:hover {
    background-color: white;
    color: var(--color-primary);
  }
  
  .questionWrapper {
    width: 45vh;
    height: 85vh;
    margin: 10px;
    padding: 0;
  }

  .btnQuestion {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    height: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    border: 3px solid var(--color-primary);
    background-color: white;
    color: var(--color-primary);
  }

  /* btn with correct answer */
  .btnQuestionCorrect {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    height: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border: 3px solid chartreuse;
    background-color: chartreuse;
    border-radius: 20px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  /* btn with wrong answer */
  .btnQuestionWrong {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    height: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border: 3px solid crimson;
    background-color: crimson;
    border-radius: 20px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }

  /* btn disabled */
  .btnQuestionDisabled {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    height: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border: 3px solid rgb(147, 147, 147);
    background-color: rgb(222, 222, 222);
    border-radius: 20px;
    position: relative;
    color: rgb(177, 177, 177);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }

  .answerWrapper {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
  }
}
